# 🌐 Сервер
PORT=

# 🛢️ MongoDB
MONGO_URI=

# 🔐 JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# 💳 Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

# 🌍 Frontend
CLIENT_URL=

# ☁️ Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ✉️ Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# 🖼️ Remove.bg
REMOVEBG_API_KEY=
